body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #112;
    display: flex;
    align-items: center;
    font-family: consolas;
    justify-content: center;
    align-content: center;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    cursor: pointer;
}

.container .card .music {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .music.music1 {
    position: relative;
    background: #21335a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .music.music1 {
    background: #2e7ad8;
    transform: translateY(0);
}

.container .card .music.music1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .music.music1 .content {
    opacity: 1;
}

.container .card .music.music1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .music.music2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .music.music2 {
    transform: translateY(0);
}

.container .card .music.music2 .content p {
    margin: 0;
    padding: 0;
}

.container .card .music.music2 .content a {
    margin: 20px 0 0 210px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: black;
    padding: 5px;
    border: 1px solid black;
}

.container .card .music.music2 .content a:hover {
    background: #333;
    color: #fff;
}

i {
font-size: 120px;
color: #fff;
}