@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

/* header */
header {
    height: 100vh;
    width: 100%;
    background-image: url(../ass/background.jpg);
    background-size: cover;
    background-position: center;
}

/* nav */
nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #0000007a;
}

nav .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-weight: bold;
}

nav .logo a span {
    color: #0058f9;
    transition: all 0.3s ease;
}

nav .menu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
}

nav .menu li a {
    display: block;
    font-size: 18px;
    margin-left: 25px;
    transition: color 0.3s ease;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

nav .menu li a:hover {
    color: #0058f9;
    font-weight: bold;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

span {
    color: #0058f9;
}

/* button */
.btn {
    background-color: #0058f9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 20px 10px 20px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

/* konten */
.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

/* about */
#about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

#about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.wrap {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
}

button {
    background-color: #0058f9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    transition: .4s;
    font-size: 15px;
}

button:hover {
    background-color: transparent;
    border: 2px solid #0058f9;
    cursor: pointer;
}

/* skill */
#skills {
    padding: 100px 0;
    background: #101010;
}

#skills .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.skill-bars {
    padding: 25px 30px;
    width: 40%;
    background: #fff;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin: auto 480px;
    /* height: 82vh; */
}

.skill-bars .bar {
    margin: 20px 0;
}

.skill-bars .bar:first-child {
    margin-top: 0px;
}

.skill-bars .bar .info {
    margin-bottom: 5px;
}

.skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skill-bars .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05), 0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #0058f9;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line.html span {
    width: 95%;
}

.bar .progress-line.css span {
    width: 80%;
}

.bar .progress-line.js span {
    width: 50%;
}

.bar .progress-line.node span {
    width: 45%;
}

.bar .progress-line.react span {
    width: 20%;
}

.bar .progress-line.figma span {
    width: 82%;
}

.bar .progress-line.mulmed span {
    width: 92%;
}

.bar .progress-line.record span {
    width: 46%;
}

.bar .progress-line.edit span {
    width: 55%;
}

.bar .progress-line.prod span {
    width: 62%;
}

.bar .progress-line.compos span {
    width: 54%;
}

.bar .progress-line.kungfu span {
    width: 99%;
}

.bar .progress-line.taekwondo span {
    width: 84%;
}

.bar .progress-line.karate span {
    width: 82%;
}

.bar .progress-line.silat span {
    width: 65%;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line.html span::after {
    content: "95%";
}

.progress-line.css span::after {
    content: "80%";
}

.progress-line.js span::after {
    content: "50%";
}

.progress-line.node span::after {
    content: "45%";
}

.progress-line.react span::after {
    content: "20%";
}

.progress-line.figma span::after {
    content: "82%";
}

.progress-line.mulmed span::after {
    content: "92%";
}

.progress-line.record span::after {
    content: "46%";
}

.progress-line.edit span::after {
    content: "55%";
}

.progress-line.prod span::after {
    content: "62%";
}

.progress-line.compos span::after {
    content: "54%";
}

.progress-line.kungfu span::after {
    content: "99%";
}

.progress-line.taekwondo span::after {
    content: "84%";
}

.progress-line.karate span::after {
    content: "82%";
}

.progress-line.silat span::after {
    content: "65%";
}

/* projek */
#proj {
    background: #191919;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #101010;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #0058f9;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #0058f9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #0058f9;
    cursor: pointer;
}

/* kontak */
#contact-me {
    width: 100%;
    background: #101010;
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 400px;
}

#contact-me .column {
    width: calc(50% - 30px);
}

#contact-me .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: white;
}

#contact-me p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

#contact-me .left .icons {
    margin: 10px 0;
}

#contact-me .row {
    display: flex;
    height: 65px;
    align-items: center;
    color: white;
}

#contact-me .row .info {
    margin-left: 30px;
}

#contact-me .info .head {
    font-weight: 800;
    /* color: white; */
    height: 20px;
}

#contact-me .info .sub-title {
    color: white;
}

#contact-me .right form .fields {
    display: flex;
}

#contact-me .right form .field, #contact-me .right form .fields .field {
    height: 45px;
    width: 105%;
    margin-bottom: 15px;
}

#contact-me .right form .field input, #contact-me .right form .textarea textarea {
    height: 100%;
    width: 93%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

#contact-me .button-two {
    background-color: #0058f9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

#contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #0058f9;
    cursor: pointer;
}

/* footer */
footer {
    position: relative;
    width: 100%;
    height: 280px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

/* sosial */
.social {
    display: flex;
    margin-bottom: 25px;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0058f9;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #0058f9;
    bottom: 35px;
    font-size: 20px;
}
