/* CSS Reset */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Style */
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: #546775;
}

p {
    color: whitesmoke;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

section .projek, .nilai, .kontak {
    min-height: 90vh;
}

.projek, .nilai, .kontak {
    padding: 100px;
}

.tentang {
    padding: 120px 100px 0 100px;
    height: 90vh;
    display: block;
}


.section-title {
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 25px;
    color: aliceblue;
}

.wrapper {
    display: flex;
}

a:hover {
    color: aliceblue;
}

/* Header */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
    display: inline-block;
    width: inherit;
    position: fixed;
    top: 0;
    font-family: system-ui;
    left: 0;
    right: 0;
    background: darkcyan;
}

header h1 {
    float: left;
}

/* Navigation Menu */
nav {
    float: right;
}

nav ul {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    font-weight: bold;
}

nav li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    font-size: larger;
}

/* Main */
main {
    margin-top: 78px;
}

/* Section Banner */
.banner {
    text-align: center;
    background: url(https://images.unsplash.com/photo-1495592822108-9e6261896da8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80) rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: bottom;
    padding: 120px 0;
}

.banner-content {
    background: rgba(255, 255, 255, 0.20);
    padding: 50px;
    width: 50%;
    color: #fff;
    margin: 0 auto; 
}

.banner-content h2, .banner-content p {
    margin-bottom: 15px;
}

.banner-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.github, .instagram, .whatsapp {
    width: 50px;
    height: 50px;
    padding: 5px;
    background: #ebebeb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

.github img, .instagram img, .whatsapp img {
    border-radius: 50%;
}

/* Section Tentang Saya */
.tentang .wrapper {
    align-items: stretch;
    justify-content: center;
}

.kanan, .kiri {
    width: 50%;
    padding: 10px 0 0 0;
}

.kanan {
    padding-left: 50px;
    text-align: justify;
    padding-right: 100px;
    font-size: large;
}

.kiri {
    padding-right: 200px;
    padding-left: 200px;
}

/* Section projek */
.projek {
    background: lightslategrey;
    color: black;
}

.projek .wrapper {
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.pro-card {
    text-align: center;
    margin: 30px 10px;
}

.pro-card img {
    height: auto;
    object-fit: cover;
    object-position: center;
}

.pro-title {
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: larger;
}

.projek a {
    color: black;
    /* font-size: medium; */
}

.projek a:hover {
    color: white;
}

/* Section Nilai & Sertifikasi */

.nilai .wrapper {
    flex-direction: column;
    margin-top: 50px;
}

.nilai-title, .sertifikasi-title {
    margin-top: 25px;
    margin-bottom: 15px;
    color: aliceblue;
}

.table-nilai, .table-sertifikasi {
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
}

.table-nilai td, .table-nilai th, .table-sertifikasi td, .table-sertifikasi th {
    border: 2px solid rgb(46, 46, 46);
    padding: 15px 20px;
}

.table-nilai th, .table-sertifikasi th {
    background-color: #397684;
    color: #fff;
}

.table-nilai td, .table-sertifikasi td, td a {
    text-align: center;
    color: white;
}

/* Section Kontak */
.kontak {
    min-height: 80vh;
    background: url(https://images.unsplash.com/photo-1567826722186-9ecdf689f122?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80) rgba(0, 0, 0, .1);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
    color: #fff;
}

.kontak .section-title {
    margin-bottom: 30px;
}

.kontak-box {
    padding: 20px 50px;
    background: #397684;
    width:  350px;
    margin: 0 auto;
    text-align: right;
}

.kontak input, .kontak textarea {
    width: 100%;
    outline: none;
    border: none;
    margin-left: 10px;
    font-family: sans-serif;
}

.kontak-name, .kontak-email, .kontak-pesan {
    background: #fff;
    color: #000;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-kontak {
    background: rgb(0, 43, 87);
    color: #fff;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    color: white;
    font-weight: bold;
}